.head.meetus {
	background: url('../images/meet/meet-top.png') no-repeat;
	background-size: cover;
}

.panel.meetus {
	width: 100%;
	margin-top: 10px;
	padding-bottom: 25px;
	padding-top: 25px;
}

.panel.meetus img {
	width: 30%;
	float: left;
	display: none;
}

.panel.meetus .text {
	float: left;
	width: 95%;
}

.panel.meetus .text h1 {
	position: inherit;
	margin-top: 0px;
	margin-left: 25px;
	padding: 10px;
	width: 45%;
}

.panel.meetus .text h2 {
	margin-left: 25px;
	margin-top: 10px;
}

.panel.meetus .text p {
	position: inherit;
	margin-top: 10px;
	margin-left: 25px;
	width: 90%;
	background: none;
	font-size: 3.25vw;
	color: black;
	padding: 0;
}

.panel.meetus .text a {
	color: red;
	text-decoration: none;
}

.panel.meetus .text a:hover {
	background: red;
	color: white;
}

@media (min-width: 750px) {

.panel.meetus {
		height: 65%;
		padding-bottom: 25px;
		padding-top: 25px;
	}

	.panel.meetus img {
		display: inline-block;
	}

	.panel.meetus .text {
		float: left;
		width: 65%;
	}

	.panel.meetus .text p {
		margin-top: 10px;
		margin-left: 25px;
		width: 90%;
		font-size: 1.25vw;
		padding: 0;
	}

}
