#sponsor-boxes {
  width: 100%;
  float: left;
}

.sponsor-box {
  width: 30%;
  float: left;
  margin: 1.5%;
}

.sponsor-box img {
  width: 100%;
}

.sponsor-box p {
  text-transform: uppercase;
  text-align: center;
  margin-top: 47%;
  padding-bottom: 47%;
}

#partners-list {
  width: 100%;
  float: left;
}

#partners-list h1 {
  width: 100%;
  text-align: center;
  color: white;
  background: tomato;
  font-size: 3vw;
  padding: 25px;
}

#partners-list .sponsor-box p{
  padding-bottom: 20%;
}
