.top-bar {
  width: 100%;
  float: left;
  position: fixed;
  z-index: 10;
}

.top-bar .announcement-bar {
  display: none;
  width: 100%;
  height: 50px;
  background-color: GhostWhite;
  float: left;
}

.top-bar .announcement-bar p {
  color: black;
  margin-left: 15%;
  margin-top: 13px;
  font-size: 1.25vw;
}

.top-bar .announcement-bar a {
  text-decoration: none;
  color: #FF9999;
}

.top-bar .announcement-bar a:hover {
  text-decoration: underline;
  color: tomato;
}

.top-bar .sponsor-bar {
  width: 100%;
  float: left;
  margin-top: 45px;
  padding-left: 60%;
}

.top-bar .sponsor-bar p {
  text-transform: uppercase;
  background: #FF9999;
  color: white;
  float: left;
  margin-left: 5px
}

.top-bar .sponsor-bar p.clickable:hover {
    background: #9F9;
    color: white;
    cursor: pointer;
}

@media (min-width: 750px) {

  .top-bar .announcement-bar {
    display: inline-block;
  }

  .top-bar .sponsor-bar {
    margin-top: 5px;
    padding-left: 57.5%;
  }

  .top-bar .sponsor-bar p {
    font-size:  13px;
    padding: 10px;
  }
}
