/*Index*/
a {
	text-decoration: none;
}

body {
	position: absolute;
	width: 1400px;
	min-width: 1000px;
	max-width: 1450px;
	
}

h1 {
	color: white;
	text-transform: uppercase;
	font-family: 'Ubuntu Condensed', sans-serif;
	font-size: 60px;
	margin: 0;
}

h2 {
		color: black;
		text-transform: uppercase;
		font-family: 'Ubuntu Condensed', sans-serif;
		font-size: 30px;
		margin: 0;
}

h3 {
		color: black;
		text-transform: uppercase;
		font-family: 'Ubuntu Condensed', sans-serif;
		font-size: 25px;
		margin: 0;
}

h4 {
	color: white;
	margin: 0;
	text-transform: uppercase;
	font-weight: lighter;
	text-align: center;
	height: 100%;
	width: 100%;
}

p {
	margin: 0px;
	font-family: "open sans";
}

footer {
	position: absolute;
	width: 1120px;
	height: 138px;
	background-color: black;
}

#footer-text {
	float: left;
	margin-left: 125px;
	margin-top: 35px;
}

#footer-text p{
	color: white;
}
#footer-text h2{
	color: red;
	font-size: 20px;
}

.follow-buttons {
	margin-left: 75px;
	float: left;
}

.follow-buttons p{
	margin-top: 20px;
	color: white;
	font-size: 20px;
	text-transform: uppercase;

}

.follow{
	height: 100px;
	width: 175px;
	float: left;
	margin-left: 50px;
	margin-top: 20px;
	text-align: center;	
	border: 1px solid white;
}

	.follow1 p{
		margin: 0;
		
	}
	
	.follow2 p{
		margin: 0;
	}
 
 .follow a {
 	height: 100%;
 	width: 100%;
 }

 	.follow:hover {
 		background-color: #3b5998;
 	}


#home-footer footer{
	width: 1130px;
	height: 138px;

}
.body2 {
	max-width: 1400px;
}

/*Home*/

.nav {
	position: absolute;
	margin-left: 315px;
	width: 70%;

}
	.nav h3 {
		padding-top: 12%;
		height: 100%;
		width: 100%;
		
	}

		.nav h3:hover {
			color: #33FFCC;
			font-size: 28px;
		}

.nav1 {
	width: 100%;
	height: 65px;
	float: left;
	overflow: hidden;
	text-align: center;
	margin-left: 2px;
	margin-top: 2px;
	background-color: #CCFFCC;

}

	.nav1:hover {
		background: url('../img/302x67-home-button.jpg');
		
	}
	
.nav2 {
	width: 100%;
	height: 65px;
	float: left;
	overflow: hidden;
	text-align: center;
	margin-left: 2px;
	margin-top: 2px;
	background-color: #CCFFCC;

}

	.nav2:hover {
		background: url('../img/302x67-about-button.jpg');
		
	}
	
.nav3 {
	width: 100%;
	height: 65px;
	overflow: hidden;
	text-align: center;
	margin-left: 2px;
	margin-top: 2px;
	float: left;
	background-color: #CCFFCC;
}

	.nav3:hover {
		background: url('../img/302x67-meetus-button.jpg');
		
	}

.nav4 {
	width: 100%;
	height: 65px;
	float: left;
	overflow: hidden;
	text-align: center;
	margin-left: 2px;
	margin-top: 2px;
	background-color: #CCFFCC;

}

	.nav4:hover {
		background: url('../img/302x67-contact-button.jpg');
		
	}
	
.nav5 {
	width: 100%;
	height: 65px;
	float: left;
	overflow: hidden;
	text-align: center;
	margin-left: 2px;
	margin-top: 2px;	
	background-color: #CCFFCC;

}

	.nav5:hover {
		background: url('../img/302x67-blog-button.jpg');
		border: none;
	}


#science-logo {

	padding-top: 5px;
	height: 80px;
	width: 300px;
}


.header {
	width: 100%;
	margin-left: 5%;
	margin-top: 10px;
	height: 365px;

}

.logo {
	height: 365px;
	width: 302px;
	background: url('../img/s2t-logo-2.jpg');
	float: left;
	margin: 0;
	}


.side-bar {
	height: 90%;
	width: 302px;
	position: fixed;
	z-index: 1;

}	

.side-nav h3{
		padding-top: 15px;
		height: 100%;
		width: 100%;
		}
			.side-nav h3:hover{
				color: #33FFCC;
				font-size: 28px;
			}




/*Main Page*/

.to-top-button {
	position: fixed;
	z-index: 1;
	height: 50px;
	width: 125px;
	margin-top: 25px;
	margin-left: 50px;
	background: url('../img/to-top-button-white.png');
}

	.to-top-button:hover {
		background: url('../img/to-top-button-red.png');
		cursor: hand;
	}

.sponsor-inquiry {
	margin-left: 49.75%;

	height: 50px;
	width: 410px;
	background-color: red;
	position: fixed;
	z-index: 1;
}

.sponsor-inquiry p {
	color: white;
	float: left;
	text-transform: uppercase;
	text-align: center;
	width: 245px;
	font-size: 12px;
	padding-top: 17px;
	margin-left: 5px;
	margin-right: 10px;
}

.sponsor-button {

	background-color: white;
	float: left;
	height: 100%;
	width: 150px;
	
}
	.sponsor-button:hover {
		background-color: black;

	}

.sponsor-button p{
	color: black;
	width: 148px;
	height: 100%;
	text-align: center;
	margin: 0;
	padding-top: 17px;
	text-transform: uppercase;
}

	.sponsor-button p:hover {
		color: white;
	}

.box h1 {
	position: absolute;
	margin-top: 130px;
	margin-left: 50px;
	background: rgba(255, 255, 255, 1);
	color: black;
	font-size: 40px;
	padding: 25px;
}

#box1 {
	width: 1130px;
	height: 700px;
	background: url('../img/1130x700-garden-topbox.jpg');
	}

#box2 {
	width: 1130px;
	height: 700px;
	background: url('../img/1130x700-box2.jpg');
	}



#box3 {
	width: 1130px;
	height: 700px;
	background: url('../img/1130x700-box3.jpg');
	}

#box4 {
	width: 1130px;
	height: 700px;
	background: url('../img/1130x700-box4.jpg');
	}

#box5 {
	width: 1130px;
	height: 700px;
	background: url('../img/1130x700-box5.jpg');
	}

	#box5 h1{
		margin-top: 95px;
		margin-left: 25px;
		width: 700px;
	}
	
	#box5 p{
		margin-top: 190px;
		margin-left: 25px;
		width: 700px;
		font-size: 18px;
	}

.box p{
	position: absolute;
	color: white;
	width: 550px;
	margin-top: 300px;
	margin-left: 75px;
	padding: 25px;
	text-align: justify;
	font-size: 20px;
	font-weight: lighter;
	background-color: rgba( 128, 128, 0, .8)
}


.next-button {
	position: absolute;
	width: 195px;
	height: 52px;
	margin-top: 625px;
	margin-left: 850px;
	background: url('../img/next-button-white.png');
}

.next-button:hover {
	background: url('../img/next-button-green.png');
	cursor: hand;

}

#next-button1 {
	height: 100%;
	width: 100%;
}
#next-button2 {
	height: 100%;
	width: 100%;
}
#next-button3 {
	height: 100%;
	width: 100%;
}

#next-button4 {
	height: 100%;
	width: 100%;
}

#next-button5 {
	height: 100%;
	width: 100%;
}

/*End HOME*/






.side-body {
	position: absolute;
	width: 80%;
	
	margin-top: 2px;
	margin-left: 303px;

}

.topbox {
	width: 100%;
	height: 400px;
	background: url('../img/1120x400-about-topbox.jpg');
}

	.topbox h1 {
		position: absolute;
		margin-top: 150px;
		width: 100%;
		text-align: center;
	}

.box-2 {
	width: 100%;
	height: 200px;
	background-color: white;
}

	.box-2 h1 {
		color: black;
		float: left;
		margin-top: 50px;
		margin-left: 25px;
	}

	.box-2 p {
		text-align: justify;
		float: left;
		margin-top: 50px;
		margin-left: 50px;
		width: 60%;
		font-size: 20px;
		height: 100px;

	}

.box-3 {
	width: 100%;
	height: 400px;
	margin-top: 2px;
}

	.box-3 .left {
		height: 100%;
		width: 49.75%;
		border: 1px solid white;
		float: left;
		background: url('../img/527x400-box3-left.jpg');
	}
	.box-3 .right {
		height: 100%;
		width: 49.75%;
		border: 1px solid white;
		float: left;
		margin-left: 2px;
		background: url('../img/527x400-box3-right.jpg');
	}

.box-4 {
	margin-top: 50px;
	height: 700px;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	background: url('../img/742x700-box-4.jpg');
}

.box-4-text {
	position: absolute;
	height: 650px;
	width: 50%;
	border: 5px solid white;
	margin-left: 20px;
	margin-top: 20px;
}
	.box-4-text h1 {
		text-align: center;
	}
	.box-4-text p {
		margin-left: 13%;
		text-align: justify;
		width: 75%;
		color: white;
	}

.box-5 {
	width: 100%;
	height: 400px;
	background-color: white;
	margin-top: 50px;
}


/* Meet Us */

.meetus-head {
	margin-left: 160px;

}

.meetus-head p{
	margin-top: 50px;
	margin-bottom: 50px;
	font-size: 20px;
	text-align: center;
	width: 800px;
}

#bio-boxes {
	width: 100%;
}

.bio-box{
		margin-top: 2px;
		width: 100%;
		height: 452px;
		background-color: white;
		border: 1px solid black;
		margin-bottom: 15px;
	}
.bio-photo {
	width: 451px;
	height: 450px;
	border-right: 1px solid black;
	float: left;
}

	.bio-text {
	width: 50%;
	float: left;
	margin-left: 50px;
	padding-top: 35px;
}
	

	.bio-text h3{
		color: red;
	}

	.bio-text h4{
		height: 25px;
		color: black;
		text-align: left;
	}

	.bio-text p{
		text-align: justify;
		float: left;

		width: 100%;
		height: 250px;
		line-height: 20px;
	}

	.bio-text a{
		text-decoration: underline;
		color: red;
	}


/*Sponsor*/

.sponsors{
	height: 900px;
	width: 100%;

	
}

.sponsor-box {
	height: 300px;
	width: 300px;
	float: left;
	margin-left: 5%;
	
}

.sponsor-logo {
	width: 300px;
	height: 150px;

}

.sponsor-logo p{
	padding-top: 135px;
	text-align: center;
	text-transform: uppercase;
}

.join-box{
	height: 200px;
	width: 100%;
}

.join-box a p {
	
	font-size: 60px;
	text-align: center;
	text-transform: uppercase;
	color: #33FFCC;
}

	.join-box a p:hover {
		color: red;
		font-size: 70px;
	}

/*Join Us*/

#join-body {
	height: 800px;
	width: 100%;
	background: url('../img/join-body.jpg');
}

#join-text{
	position: absolute;
	margin-top: 150px;
	margin-left: 225px;
	width: 700px;
}

#join-text h1 {
	text-align: center;
	background-color: white;
	color: black;
}

#join-text h2 {
	color: red;
	text-align: center;
	background-color: white;
	padding-top: 25px;
	padding-bottom: 25px;
}

#join-text em{
	text-transform: none;
	color:  #336666;
}

#join-text h3{
	background-color: rgba( 128, 128, 0, .8);
	text-align: center;
	color: white;
	padding: 50px;
}

.back-button {
	float: left;
	margin-top: 25px;
	margin-left: 25px;
	position: absolute;
	height: 40px;
	width: 125px;
	background-color: white;
}

.back-button:hover {
	background-color: black;
}

.back-button p{
	height: 100%;
	width: 100%;
	padding-top: 10px;
	text-align: center;
	text-transform: uppercase;
}

.back-button p:hover {
	color: white;
	cursor: hand;

}