<div data-ng-controller="MainController" class = "side-bar">

  <div class = "logo">
    <img src = "images/s2t-logo.jpg" />
  </div>

  <div class = "nav">
    <ul>
      <li data-ng-click="redirect('home')">Home</li>
      <li data-ng-click="redirect('meetus')">Meet Us</li>
      <li data-ng-click="redirect('blog')">Blog</li>
      <li data-ng-click="redirect('sponsors')">Sponsors</li>
    </ul>
  </div>

  <div class="logo science">
    <img src = "images/science-club-logo.png" />
  </div>

</div><!--END SIDE-BAR-->
