<section data-ng-controller="BlogController" id="entry" data-ng-init="getEntry()">

  <div class = 'head blog-entry'>
    <h1>Blog To Table</h1>
  </div>

   <ul id="admin-bar">
    <li data-ng-show='!signedIn' data-ng-click="redirect('sign-in')">Log In</li>
    <li data-ng-show='signedIn' data-ng-click="logOut()">Log Out</li>
    <li data-ng-show='signedIn' data-ng-click="redirect('create-entry')">Write Entry</li>
    <li data-ng-show='signedIn && !editing' data-ng-click='editEntry()'>Edit</li>
    <li data-ng-show='editing' data-ng-click='editing = false'>Cancel</li>
    <li data-ng-click="redirect('blog')">Blog</li>
  </ul>

  <article data-ng-if="!editing" id="body">
    <h1>{{title}}</h1>
    <h4>{{date}}</h4>
    <p data-ng-repeat="paragraph in paragraphs track by $index">{{paragraph}}</p>
  </article>

  <article data-ng-if="editing">
    <input id="entry-title" type="text" value="{{title}}"/>
    <textarea id="entry-body">{{editBody}}</textarea>
    <button id="entry-button" data-ng-click="saveEntry()">Submit</button>
  </article>

</section>
