<section data-ng-controller="MainController" id="getInvolved">

  <div class='head'>
    <h1>Join Our Team</h1>
  </div>

  <div class="section">
    <h2 class="text-center">Employment Opportunities</h2>
    <ul>
      <li class="job">
        <h3 class="text-center">Farm Manager</h3>
        <p>
          The Sisters Seed to Table Program’s mission is to increase the health and wellness of the Sisters community through providing equal access to nutritious and local foods and through providing farm based health and science education. The program has an amazing opportunity for a motivated individual who is passionate about farming and education. We are seeking to hire a farm manager to manage the 1.5 acre farm and assist with on-site farm education for the Sisters, Oregon community. The Farm Manager must have prior experience farming, be a self-starter, innovative and good at problem solving. This position is seasonal, running from February 15th-October 31st.
        </p>
        <a href="https://s3-us-west-2.amazonaws.com/seed-to-table-sisters/Job+Descriptions/Farm+Manager+Position.pdf" target="_blank">Download Full Job Description</a>
      </li>
      <li class="job">
        <h3 class="text-center">Garden Educator</h3>
        <p>
          An innovative non profit organization out of Sisters is seeking part time garden educators for the fall season. The Seed to Table Program is offering an amazing opportunity for motivated individuals to get hands on experience teaching, working in the garden and being surrounded by a very positive team. Our program strives to offer fresh produce to the central Oregon community and also provides garden based education to the central Oregon community. Must have a high school degree, be interested in teaching, be interested in gardening/ farming/ science/ art.
        </p>
        <a href="https://s3-us-west-2.amazonaws.com/seed-to-table-sisters/Job+Descriptions/Garden+Educator%C2%A0.docx" target="_blank">Download Full Job Description</a>
      </li>
    </ul>
  </div>

  <div class="section">
    <h2 class="text-center">Internship and Volunteer Opportunities</h2>
    <ul class="volunteers">
      <li class="volunteer">
        <h4>High School Internships - please email <a href="mailto:audrey@seedtotablesisters.org">audrey@seedtotablesisters.org</a></h4>
      </li>
      <li class="volunteer">
        <h4>Farm Volunteers - please email <a href="mailto:audrey@seedtotablesisters.org">audrey@seedtotablesisters.org</a></h4>
      </li>
    </ul>
  </div>

</section>
