<section data-ng-controller="MainController" id="meet-us">

	<div class = 'head meetus'>
		<h1>Meet us</h1>
	</div>

	<div class = 'info' >
		<p>Farm and garden based education in every school is essential to make our community come alive and join together. We must not loose the creativity, problem solving and sheer love for healthy foods and learning that comes with hands on, experiential learning on a farm and garden.</p>
	</div>

	<div class = "panel meetus">
		<img src='images/meet/audrey-bio-pic.png' />
		<div class = 'text'>
			<h1>Audrey Tehan</h1>
			<h2>Program Director</h2>
			<p>
				Audrey Tehan was hired to direct the Seed to Table program in Sisters, OR in September 2013. Audrey was born and raised in Sisters and comes from a family of ranchers and farmers. Growing food using practices that sustain both our natural resources and our community have always been an important aspect of Audrey's life. After high school she worked on multiple organic farms in the US and abroad. She graduated from Southern Oregon University with a degree in Environmental Studies, focusing on Politics and Conservation Biology.
			</p>
			<p>
				Inolving kids in education beyond the classroom has also been at the forefront of Audrey's focus as she has worked with kids and adults in experiential education for the past 5 years. Audrey's studies and farming experiences reinforced her belief that being involved in growing food can be a pathway to living long, healthy lives and connecting with those around us. Audrey is passionate about the Sisters community, and has had a life long aspiration to start a Seed to Table Program in Sisters. She is excited to be serving her community in this way, and looks forward to connecting with you across a row of veggies in the garden!
			</p>
		</div>
	</div>

		<div class = "panel meetus">
		<img src='images/meet/placeholder.png' />
		<div class = 'text'>
			<h1>Lauren Griswold</h1>
			<h2>Farm Manager</h2>
			<p>
				Lauren Griswold has been an incredible asset to the Seed to Table Program. Whether Lauren is teaching students about the magic of composting or working in the field her enthusiasm and knowledge of agricultural systems are apparent. Lauren has been a driving force behind the farm plot's success and the depth of knowledge the interns have gained.
			</p>
			<p>
				Born and raised in Pennsylvania, Lauren made her way out West after graduating from the University of Vermont with a double major in Environmental Studies and English. Her passion for agriculture was sparked during college and she has not turned back since. Focusing on Sustainable Agriculture systems at UV led her to pursue multiple internships and jobs around the country. Lauren started working with livestock and eventually transitioned to focusing on vegetable crops. She is a natural teacher and leader. Students are immediately brought in as she begins her lessons and she has inspired many students and myself. Lauren also has an amazing eye when it comes to growing vegetables and we are so lucky to have her!
			</p>
		</div>
	</div>

	<div class = "panel meetus">
		<img src='images/meet/science-club-bio-pic.png' />
		<div class = 'text'>
			<h1>Sisters Science Club</h1>
			<h2>Program Sponsor</h2>
			<p>
				The Sisters Science Club is a community organization that supports science and math in the schools and community. You can vist our <a href = 'http://www.sistersscienceclub.org/' target='blank'>website</a> or read more about our club in this article in <a href="http://www.the-scientist.com/?articles.view/articleNo/40608/title/Opinion--A-Role-for-Community-Science-Clubs/" target="_blank">The Scientist</a>.
			</p>
			<p>
				 Interested in joining us for an event? See this year's list of <a href="http://www.sistersscienceclub.org/Frontiers%20in%20Science%2014-15.htm" target="_blank">talks at the Belfry</a>.
			</p>
		</div>
	</div>
</section>
