<section id="sponsors">
	<div class = 'head meetus'>
		<h1>Sponsors</h1>
	</div>

	<div class = 'info' >
		<p>
			We'd like to say thank you to all our very generous sponsors who have made this program a reality. We couldn't do it without you.
		</p>
	</div>

	<section id="sponsor-boxes">
		<div class="sponsor-box">
			<img src="images/sponsors/sisters-logo.jpg" >
		</div>

		<div class="sponsor-box">
			<img src="images/sponsors/metabolic-logo.jpg">
		</div>

		<div class="sponsor-box">
			<img src="images/sponsors/OCF-logo.jpg" alt="">
		</div>

		<div class="sponsor-box">
			<img src="images/sponsors/ODE-logo.jpg" alt="">
		</div>

		<div class="sponsor-box">
			<img src="images/sponsors/sisters-community-garden-logo.jpg" alt="">
		</div>

		<div class="sponsor-box">
			<p>Sisters Garden Club</p>
		</div>

		<div class="sponsor-box">
			<p>Bill and Zoe Willitts</p>
		</div>

		<div class="sponsor-box">
			<p>John and Peggy Tehan</p>
		</div>

		<div class="sponsor-box">
			<p>Lyn and Peter Feldman</p>
		</div>
	</section>
	<section id="partners-list">
		<h1>Partners</h1>
		<div class="sponsor-box">
			<p>Sisters Kiwanis Food Bank</p>
		</div>
		<div class="sponsor-box">
			<p>Mahonia Gardens</p>
		</div>
		<div class="sponsor-box">
			<p>Plainview Gardens</p>
		</div>
		<div class="sponsor-box">
			<p>Rainshadow Organics</p>
		</div>
		<div class="sponsor-box">
			<p>Juniper Jungle Farms</p>
		</div>
		<div class="sponsor-box">
			<p>Sisters Park and Recreation District</p>
		</div>
		<div class="sponsor-box">
			<p>The Open Door Restaurant</p>
		</div>
		<div class="sponsor-box">
			<p>Fields Farm</p>
		</div>
		<div class="sponsor-box">
			<p>Central Oregon Intergovernmental Council</p>
		</div>
	</section>

</section>
